{% extends 'base.html' %}

{% block title %} Tickets {% endblock %}
{% block content %}
<div class="index_table_container">
<table class="index_table">
 <thead class="index_table_header_names">
    <tr>
      <th class="index_table_header_item"> Ticket title </th>
      <th class="index_table_header_item"> Status </th>
      <th class="index_table_header_item"> Assignee </th>
      <th class="index_table_header_item_date"> Published </th>
      <th class="index_table_header_item_date"> Last Updated </th>
    </tr>
  </thead>
  <tbody>
   {% for ticket in tickets %}
    <tr>
      <td><a href="{% url 'ticketsapp:ticketView' ticket.id %}"> {{ ticket.title }} </a></td>
      <td> {{ ticket.status }} </td>
      <td> {{ ticket.assignee }} </td>
      <td> {{ ticket.publication_date }} </td>
      <td> {{ ticket.update_date }} </td>
    </tr>
    {% endfor %}
   </tbody>
  </table>
  </div>
  {% endblock %}