{% extends 'admin/change_form.html' %}

{% block after_related_objects %}
    {% if original and original.status == 'Closed' %}
        <div class="submit-row">
            <h3>Reply</h3>
            <form method="POST" action="{% url 'ticketsapp:ticketView' ticket_id=original.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="default" name="_reply">Submit Reply</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
